@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
.body
{
    background-color:white;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    margin-left: 1vw;
    margin-right: 1vw;
    height: 95vh;
    width: 98vw;
    font-family: 'Source Sans Pro', sans-serif;
}