.outer
{
    background-image: url("./assets/BG.png");
    background-repeat: repeat-y;
    background-size: 96%;
    background-position: center;

    opacity: 0.95;

    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: 1vw;
    margin-right: 1vw;
    height: 98%;
    width: 98%;
    
    font-family: 'Source Sans Pro', sans-serif;
}

.content
{
    opacity: 1;
}